.upcoming-expos {
    background-color: black;
    // background-color: #2d2d2d; //:( :(
    padding-top: 100px;
    padding-bottom: 180px;
    color: white;
    text-align: center;
}

.upcoming-inner {
    padding-top: 80px;
    // padding-left: 50px;
    // padding-right: 0px;
    max-width: 1400px;
    margin: 0 auto;
}

.pink-box{
    border: 1px solid #ee2a7b;
    border-radius: 2px;
    padding: 30px 10px 30px 10px;
    margin-bottom: 15px;
    h3{
        font-weight: 200;
        margin-top: 15px;
        text-transform: uppercase;
    }
    h4{
        text-transform: uppercase;
        margin-top: 15px;
        color: #a0a0a0
    }
    h5 {
        font-size: 16px;
    }
}

.box-inner {
    padding-top: 40px;
    padding-bottom: 50px;
}

.box-button{
    padding-top: 10px;
    padding-bottom: 10px;
}
