<div class="animated fadeIn">
  <!-- <div class="show-banner">
    <div class="show-banner-outer">
      <div class="container">
          <div class="show-banner-inner">
            <div class="show-text">
              <h1>Johannesburg</h1>
              <h2>Ticketpro Dome</h2>
              <h3>10 &amp; 11 MARCH 2018</h3>
            </div>
          </div>  
        </div>  
    </div>
  </div> -->
  <app-win-a-wedding></app-win-a-wedding>

  <div class="workshops">
    <div class="container">
      <div class="workshops-inner">
        <h1>what to expect</h1>
        <br><hr class="style-one">
        <div class="ws-text">
          <p>With our super fun activations planned for each show you can get stuck in or sit back and relax and while  getting awesome inspiration and handy tips for your own wedding.</p>
        </div>
        <div class="exhibitor-details" *ngFor="let exhibitor of exhibitors">
          <img src="{{exhibitor.image}}">
          <div class="inner-text">
            <h3>{{exhibitor.name}}</h3>
            <p>{{exhibitor.text}}</p>
          </div>
          <div class="ex-button">
            <a target="_blank" href="{{exhibitor.url}}"><button mat-raised-button color="primary">want to participate</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sponsors">
    <div class="container-fluid">
      <h1>participants</h1>
      <br><hr class="style-one">
      <div class="sponsors-inner">
        <div class="row">
          <div class="col-md-4 col-xs-6" *ngFor="let sponsor of sponsors">
            <a href="{{sponsor.url}}" target="_blank"><img class="sponsor-image" src="{{sponsor.image}}"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="workshops">
    <div class="container">
      <div class="workshops-inner">
        <h1>competitions</h1>
        <br><hr class="style-one">
        <div class="ws-text">
          <p>Let’s put the best to the test! Come to the show and be the judge.</p>
        </div>
        <div class="exhibitor-details" *ngFor="let competition of competitions">
          <img src="{{competition.image}}">
          <div class="inner-text">
            <h3>{{competition.name}}</h3>
            <p>{{competition.text}}</p>
          </div>
          <div class="ex-button" *ngIf="competition.url">
            <a target="_blank" href="{{competition.url}}"><button mat-raised-button color="primary">visit website</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>