<div class="animated fadeIn">
  <app-win-a-wedding></app-win-a-wedding>
  <div class="faq-container">
    <div class="container">
      <div class="faq-inner">
        <h1>why exhibit</h1>
        <br><hr class="style-one">
        <img src="assets/img/ig/2.jpg" style="width: 100%; height: auto;">
        <!-- <div class="faq-lower">
          <div class="row faq-row" *ngFor="let q of questions">
            <div class="col-sm-1 pink">{{q.title}}</div>
            <div class="col-sm-11"><b>{{q.question}}</b><br>{{q.answer}}</div>
          </div>
        </div>
        <div class="faq-bottom">
            <button mat-raised-button color="primary">apply to exhibit</button>
        </div> -->
        <!-- <div class="faq-bottom">
            <button mat-raised-button color="primary" routerLink="/#apply">apply to exhibit</button>
        </div> -->
      </div>
    </div>
  </div>
  <div class="testimonials">
    <div class="container">
        <h1>testimonials</h1>
        <br><hr class="style-one">
        <div class="testimonials-inner">
            <owl-carousel
            [options]="testimonialOptions"
            [items]="testimonials"
            [carouselClasses]="['owl-theme', 'sliding']">
            <div class="item" *ngFor="let t of testimonials;">
              <div class="item-outer">
                <div class="testimonial-item">
                  <div class="testimonial-text">
                      <p>
                        {{t.text}}
                      </p>
                  </div>
                  <!-- <div class="t-circle-container">
                    <div class="t-circle-outer">
                        <div class="t-circle" [ngStyle]="getBg(t.url)">
                        </div>
                    </div>
                  </div> -->
                  <h4>{{t.name}}</h4>
                  <h6>{{t.title}}</h6>
                </div>
              </div>
            </div>
          </owl-carousel>
        </div>
    </div>
  </div>
  <div class="rates">
      <div class="container-fluid">
          <h1>rates and plans</h1>
          <br><hr class="style-one">
          <h4 style="color: #444">get in touch with us to discuss your budget and our available packages</h4>
          <div class="rates-inner">
              <div class="row">
                  <div class="col-lg-3 col-md-6" *ngFor="let plan of plans">
                      <div class="pink-box">
                          <h3 class="pink"><b>{{plan.name}}</b></h3>
                          <h4>{{plan.location}}</h4>
                          <h3>{{plan.dates}}</h3>
                          <div class="box-inner">
                              <h5><markdown-to-html [data]="plan.details"></markdown-to-html></h5>
                          </div>
                          <div class="box-button">
                              <a href="mailto:info@wedding-expo.co.za"><button mat-raised-button color="primary">I want more info</button></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="stats-container">
    <div class="container">
      <h1>statistics</h1>
      <br><hr class="style-one">
        <div class="card-lg">
            <img src="assets/img/ig/3.jpg" style="width: 100%; height: auto;">
        </div>
    </div>
  </div>
  <div class="apply-container">
    <div class="container" id="apply">
        <h1>apply to exhibit</h1>
        <br><hr class="style-one">
        <div class="apply-inner">
          <form>
              <mat-form-field class="full-width">
                <input matInput placeholder="full name" value="" [(ngModel)]="name" name="fn">
              </mat-form-field>

              <mat-form-field class="full-width">
                <input matInput placeholder="contact number" value="" [(ngModel)]="contact" name="cn">
              </mat-form-field>

              <mat-form-field class="full-width">
                <input matInput placeholder="email address" value="" [(ngModel)]="email" name="ea">
              </mat-form-field>

              <mat-form-field class="full-width">
                <input matInput placeholder="company name" value="" [(ngModel)]="company" name="cname">
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-select placeholder="which category best describes your business" [(ngModel)]="selectedCategory" name="cat">
                  <mat-option *ngFor="let category of categories" [value]="category">
                    {{ category }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-select placeholder="select expo you are interested in" [(ngModel)]="selectedExpo" name="expo">
                  <mat-option *ngFor="let expo of expos" [value]="expo">
                    {{ expo }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div class="apply-slider">
                  <p>are you interested in booking at more than one expo?</p>
                  <mat-slide-toggle
                    class="apply-margin"
                    color="primary"
                    checked="false"
                    [(ngModel)]="bookMore"
                    name="as">
                  <span *ngIf="bookMore">Yes</span>
                  <span *ngIf="!bookMore">No</span>
                </mat-slide-toggle>
              </div>
              <div class="opt-out">
                <div class="row">
                  <div class="col-xs-1" style="padding-top: 2px;">
                      <mat-checkbox color="primary" [(ngModel)]="optOut" name="oo"></mat-checkbox>
                  </div>
                  <div class="col-xs-11" style="padding-left: 0;">
                      opt out of receiving emails and newsletters
                  </div>
                </div>
              </div>
              <div class="apply-button">
                  <re-captcha
                  #captchaRef="reCaptcha"
                  siteKey="6LeMGjsUAAAAAOjbezvTeglDNIQsAaX8iL5U2rQA"
                  size="invisible"
                  (resolved)="$event && sendMail($event)"
                ></re-captcha>
                  <button mat-raised-button color="primary" [disabled]="sending" (click)="submit()">
                    <span *ngIf="sending"><i class="fa fa-circle-o-notch fa-spin "></i></span> apply
                  </button>
              </div>
          </form>
        </div>
    </div>
  </div>
</div>
