.navbar-black {
    background-color: #e0aeb2;
    height: 120px;
    padding-top: 40px;
    padding-bottom: 50px;
    .navbar-items {
        text-align: center;
        width: 100%;
        .navbar-item {
            height: 40px;
            cursor: pointer;
            line-height: 40px;
            display:inline-block;
        }
        .navbar-item a {
            margin: 15px;
            padding-top: 20px;
            color: white;
            text-decoration: none;
            font-size: 16px;
            &.active{
                transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
                color: white;
                padding-bottom: 5px;
                border-bottom: 1px solid white;
            }
        }
    }
}

.navbar-left {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 30px;
    width: 200px;
    padding-left: 20px;
}


@media (max-width: 1360px) {
    .navbar-left {
        display: none;
    }
}
