@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
@import "~owl.carousel/dist/assets/owl.carousel.css";
@import "./../assets/vendor/owl.theme.css";

@font-face {
  font-family: 'Prosto';
  src: url('./../assets/vendor/fonts/Prosto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
// @font-face {
//   font-family: 'Prosto';
//   src: url('./../assets/vendor/fonts/Prosto-Light.ttf') format('truetype');
//   font-weight: lighter;
// }
// @font-face {
//   font-family: 'Prosto';
//   src: url('./../assets/vendor/fonts/Prosto-Bold.ttf') format('truetype');
//   font-weight: bold;
// }
// @font-face {
//   font-family: 'Prosto';
//   src: url('./../assets/vendor/fonts/Prosto-Black.ttf') format('truetype');
//   font-weight: bolder;
// }

h1 {
  font-size: 4.8em;
}


html, body {
  font-family: 'Prosto', sans-serif !important;
}
$color-1: #ee2a7b;
$color-2: adjust-hue($color-1, 40deg);
$color-3: adjust-hue($color-1, 80deg);
$color-4: adjust-hue($color-1, 120deg);
$color-5: adjust-hue($color-1, 160deg);

.loader-outer {
  width: 100%;
  height: 100%;
  // background: #222;
  background: linear-gradient(45deg, white, silver);
  transition: all 0.3s;
  
}

.loader-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.loader {
	display: inline-block;
  font-size: 90px;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
	
  transform: translateZ(0);
}

.loader1 {
	margin-right: 0.3em;
	animation: load1 3s infinite linear;
}

.loader2 {
	margin-left: 0.3em;
	transform: rotate(-90deg);
	animation: load2 3s infinite linear;
}

@keyframes load1 {
  0% {
		opacity: 1;
    transform: rotate(90deg);
    box-shadow: 
			0 -0.83em 0 -0.4em $color-1, 
			0 -0.83em 0 -0.42em $color-2, 
			0 -0.83em 0 -0.44em $color-3, 
			0 -0.83em 0 -0.46em $color-4, 
			0 -0.83em 0 -0.477em $color-5;
  }
	
  2.5%,
  47.5% {
    box-shadow: 
			0 -0.83em 0 -0.4em $color-1, 
			0 -0.83em 0 -0.42em $color-2, 
			0 -0.83em 0 -0.44em $color-3, 
			0 -0.83em 0 -0.46em $color-4, 
			0 -0.83em 0 -0.477em $color-5;
  }
	
  5%,
  29% {
    box-shadow: 
			0 -0.83em 0 -0.4em $color-1, 
			-0.087em -0.825em 0 -0.42em $color-2, 
			-0.173em -0.812em 0 -0.44em $color-3, 
			-0.256em -0.789em 0 -0.46em $color-4, 
			-0.297em -0.775em 0 -0.477em $color-5;
  }
	
  10% {
    box-shadow: 
			0 -0.83em 0 -0.4em $color-1, 
			-0.338em -0.758em 0 -0.42em $color-2, 
			-0.555em -0.617em 0 -0.44em $color-3, 
			-0.671em -0.488em 0 -0.46em $color-4, 
			-0.749em -0.34em 0 -0.477em $color-5;
  }
	
  19% {
    box-shadow: 
			0 -0.83em 0 -0.4em $color-1, 
			-0.377em -0.74em 0 -0.42em $color-2, 
			-0.645em -0.522em 0 -0.44em $color-3, 
			-0.775em -0.297em 0 -0.46em $color-4, 
			-0.82em -0.09em 0 -0.477em $color-5;
  }
	
	50% {
		opacity: 1;
		 transform: rotate(450deg);
    box-shadow: 
			0 -0.83em 0 -0.4em $color-1, 
			0 -0.83em 0 -0.42em $color-2,
			0 -0.83em 0 -0.44em $color-3, 
			0 -0.83em 0 -0.46em $color-4, 
			0 -0.83em 0 -0.477em $color-5;
		
	}
	
	51%,
	100% {
		opacity: 0;
    transform: rotate(450deg);
    box-shadow: 
			0 -0.83em 0 -0.4em $color-1, 
			0 -0.83em 0 -0.42em $color-2,
			0 -0.83em 0 -0.44em $color-3, 
			0 -0.83em 0 -0.46em $color-4, 
			0 -0.83em 0 -0.477em $color-5;
  }
}

@keyframes load2 {
  0%,
	49% {
		opacity: 0;
    transform: rotate(-90deg);
    box-shadow: 
			0 -0.83em 0 -0.4em $color-1, 
			0 -0.83em 0 -0.42em $color-2, 
			0 -0.83em 0 -0.44em $color-3, 
			0 -0.83em 0 -0.46em $color-4, 
			0 -0.83em 0 -0.477em $color-5;
  }
	
	50% {
		opacity: 1;
    transform: rotate(-90deg);
    box-shadow: 
			0 -0.83em 0 -0.4em $color-1, 
			0 -0.83em 0 -0.42em $color-2, 
			0 -0.83em 0 -0.44em $color-3, 
			0 -0.83em 0 -0.46em $color-4, 
			0 -0.83em 0 -0.477em $color-5;
}
	
  52.5%,
  97.5% {
    box-shadow: 
			0 -0.83em 0 -0.4em $color-1, 
			0 -0.83em 0 -0.42em $color-2, 
			0 -0.83em 0 -0.44em $color-3, 
			0 -0.83em 0 -0.46em $color-4, 
			0 -0.83em 0 -0.477em $color-5;
  }
	
  55%,
  79% {
    box-shadow: 
			0 -0.83em 0 -0.4em $color-1, 
			0.087em -0.825em 0 -0.42em $color-2, 
			0.173em -0.812em 0 -0.44em $color-3, 
			0.256em -0.789em 0 -0.46em $color-4, 
			0.297em -0.775em 0 -0.477em $color-5;
  }
	
  60% {
    box-shadow: 
			0 -0.83em 0 -0.4em $color-1, 
			0.338em -0.758em 0 -0.42em $color-2, 
			0.555em -0.617em 0 -0.44em $color-3, 
			0.671em -0.488em 0 -0.46em $color-4, 
			0.749em -0.34em 0 -0.477em #ffffff;
  }
	
  79% {
    box-shadow: 
			0 -0.83em 0 -0.4em $color-1, 
			0.377em -0.74em 0 -0.42em $color-2, 
			0.645em -0.522em 0 -0.44em $color-3, 
			0.775em -0.297em 0 -0.46em $color-4, 
			0.82em -0.09em 0 -0.477em $color-5;
  }

	100% {
		opacity: 1;
    transform: rotate(-450deg);
    box-shadow: 
			0 -0.83em 0 -0.4em $color-1, 
			0 -0.83em 0 -0.42em $color-2,
			0 -0.83em 0 -0.44em $color-3, 
			0 -0.83em 0 -0.46em $color-4, 
			0 -0.83em 0 -0.477em $color-5;
  }
}

.full-width{
  width: 100%;
}

hr.style-one {
  border-top: 2px solid #dedede;
  max-width: 500px;
  margin: 0 auto;
}

.pink {
  color: #ee2a7b !important;
}

.mat-raised-button {
  padding: 5px 30px !important;
  span {
    font-size: 16px;
  }
}

.sp-box {
  transition: all 1s ease-out;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px 20px 10px;
  background-color: rgba(255,255,255,0.5);
}

.sp {
  text-align: left;
  color: #8a8a8a;
  padding: 3px;
}

.sp-name {
  text-align: right;
  span {
    color: black;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
  }
}

.image-black-box {
  transition: all 1s ease-out;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px 20px 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.image-name {
  text-align: left;
  padding: 3px;
  color: #d6d6d6;
}

.image-category {
  padding: 3px;
  text-align: right;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.empty-page {
  height: calc(100vh - 150px - 120px);
}

.centered-content{
  padding-top: 27vh;
  text-align: center;
}

.faq-container{  
    background-color: rgb(255, 255, 255);
    padding-top: 60px;
    padding-bottom: 100px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.faq-inner{
    padding-top: 80px;
}

.faq-lower {
    text-align: left;
    padding-top: 60px; 
    font-size: 17px;
    margin: 0 auto;
    max-width: 900px;
    p{
        color: rgb(44, 44, 44);
        text-align: left;
    }
}

.faq-row {
    margin-top: 10px;
    margin-bottom: 35px;
    .pink {
        font-weight: 600;
    }
}

.faq-bottom {
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 8px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars. 
     Yes, I pulled out digital color meter */
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}


@media (max-width: 1600px) {
  

}

@media (max-width: 1400px) {
  
  h1 {
    font-size: 4em;
  }
}

@media (max-width: 1200px) {
  

}

@media (max-width:870px) { /* small size */
  .empty-page {
    height: calc(100vh - 197px - 80px);
  }
}

@media (max-width: 900px) {
   
  h1 {
    font-size: 3.4em;
  }

}

@media (max-width: 700px) {
  
   
  h1 {
    font-size: 3em;
  }
}

@media (max-width: 500px) {
  

}