html, body, material-app, .my-content {
    margin: 0;
    width: 100vw !important;
    // background: #222;
    background: #E8B0B6;
    min-height: 100%;
    overflow-y: auto;
  }

// *** This is what breaks it LOL but fixes horizontal mini scroll ***
//   .my-content {
//       overflow-x: hidden;
//   }

  .my-sidenav {
    padding: 20px;
  }

  .navbar-icon {
    z-index: 5;
    color: black;
  }

  .navbar-inner{
    width: 100%;
    line-height: 52px;
    position: relative;
    mat-icon.mat-icon.material-icons {
        color: white;
    }
  }

  .nav-img {
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    padding-bottom: 7px;
    position: absolute;
  }

  .mat-toolbar {
      height: 80px;
  }

  .navbar-button{
    color: white;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
  }

  .mobile-inner {
      padding: 5px;
      text-align: center;
      .mat-button {
          width: 100%;
          text-align: center;
      }
  }

  .subscribe-bar {
      padding-top: 15px;
      padding-bottom: 15px;
      background: #d2a5a8;
      color: white;
      text-align: center;
      font-size: 12px;
      a {
          color: white !important;
      }
  }


