html, body, material-app, mat-sidenav-container, .my-content {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #fff;
  }
  
  .showOnMobile {
      display: none;
  }

  .my-sidenav {
    padding: 20px;
  }
  
  .navbar-icon {
    z-index: 5;
  }
  
  .navbar-inner{
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    position: relative;
  }

  .mat-toolbar {
      height: 80px;
  }
  
  .navbar-button{
    text-align: center;
    padding-top: 10px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
  }


@media (max-width:800px) { /* small size */
    .showOnMobile {
        display: block;
    }
    .hideOnMobile {
        display: none;
    }
}