html, body, material-app, mat-sidenav-container, .my-content {
    margin: 0;
    width: 100vw !important;
    // background: #222;
    background: #E8B0B6;
    min-height: 100%;
    overflow-y: auto;
  }

  .showOnMobile {
      display: none;
  }

  .my-sidenav {
    padding: 20px;
  }

  .navbar-icon {
    z-index: 5;
    color: black;
  }

  .navbar-inner{
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    position: relative;
    mat-icon.mat-icon.material-icons {
        color: white;
    }
  }

  .mat-toolbar {
      height: 80px;
  }

  .navbar-button{
    color: white;
    text-align: center;
    padding-top: 5px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
  }


@media (max-width:875px) { /* small size */
    .showOnMobile {
        display: block;
    }
    .hideOnMobile {
        display: none;
    }
}
