<div class="win-banner" [ngStyle]="giefImages()">
  <div class="win-banner-outer">
    <div class="container">
        <div class="win-banner-inner">
          <img src="../assets/img/gold-logo.png">
          <div class="win-text">
            <h1>the wedding expo johannesburg 10 &amp; 11 march</h1>
          </div>
          <div class="win-button">
            <button mat-raised-button color="primary" routerLink="/show">view expo</button>
          </div>
        </div>
      </div>
  </div>
</div>
