.win-banner {
    min-height: calc(100vh - 120px);
    background-color: #333333;
    // background: url('./../../../assets/img/bg1.jpg') no-repeat center 20% fixed;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
}

.win-banner-outer {
    min-height: calc(100vh - 120px);
    background-color: rgba(255, 255, 255, 0.22);
}

.win-banner-inner {
    text-align: center;
    padding-top: 100px;
    max-width: 800px;
    margin: 0 auto;

    h1 {
        color: #ee2a7b;
        letter-spacing: 4px;
    }
    h2 {
        color: #ee2a7b;
        letter-spacing: 4px;
    }
    img {
        width: 70%;
        max-width: 300px;
        height: auto;
        margin: 0 auto;
    }
}

.win-text {
    padding-top: 60px;
}

.win-button {
    padding-top: 100px;
    padding-bottom: 60px;
}

@media (max-width:875px) { /* small size */
    .win-banner, .win-banner-outer  {
        min-height: calc(100vh - 80px);
    }
    .win-button {
        padding-top: 50px;
    }
}
