<div class="animated fadeIn">
    <!-- <div class="jumbotron">
        <div class="container">
            <h1>Home Page</h1>
            <p>Your site content will go here.</p>
            <button mat-raised-button color="primary">This is a material button</button>
        </div>
    </div> -->
    <app-win-a-wedding></app-win-a-wedding>
    <div class="upcoming-expos">
        <div class="container-fluid">
            <h1>upcoming expos</h1>
            <br><hr class="style-one">
            <div class="upcoming-inner">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="pink-box">
                            <h3 class="pink"><b>JOHANNESBURG</b></h3>
                            <h4>TICKETPRO DOME</h4>
                            <h3>10 &amp; 11 MARCH 2018</h3>
                            <div class="box-inner">
                                <h5>Price: <b>R120.00</b> per person<br>R30 per child (2 to 10 years)</h5>
                            </div>
                            <div class="box-button">
                                <button mat-raised-button color="primary">buy tickets</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="pink-box">
                            <h3 class="pink"><b>CAPE TOWN</b></h3>
                            <h4>CTICC</h4>
                            <h3>9 &amp; 10 JUNE 2018</h3>
                            <div class="box-inner">
                                <h5>Price: <b>R120.00</b> per person<br>R30 per child (2 to 10 years)</h5>
                            </div>
                            <div class="box-button">
                                <button mat-raised-button color="primary">buy tickets</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="pink-box">
                            <h3 class="pink"><b>DURBAN</b></h3>
                            <h4>DEC</h4>
                            <h3>28 &amp; 29 JULY 2018</h3>
                            <div class="box-inner">
                                <h5>Price: <b>R120.00</b> per person<br>R30 per child (2 to 10 years)</h5>
                            </div>
                            <div class="box-button">
                                <button mat-raised-button color="primary">buy tickets</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="pink-box">
                            <h3 class="pink"><b>JOHANNESBURG</b></h3>
                            <h4>TICKETPRO DOME</h4>
                            <h3>25 &amp; 26 AUGUST 2018</h3>
                            <div class="box-inner">
                                <h5>Price: <b>R120.00</b> per person<br>R30 per child (2 to 10 years)</h5>
                            </div>
                            <div class="box-button">
                                <button mat-raised-button color="primary">buy tickets</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-us">
        <div class="container">
            <div class="about-inner">
                <h1>about us</h1>
                <br><hr class="style-one">
                <div class="about-lower">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Ut sagittis lorem eros, in blandit augue cursus eu. Fusce sit amet dapibus velit, sed hendrerit urna. 
                            Morbi dolor nisl, feugiat fermentum commodo ac, euismod vitae tellus. 
                            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                            Maecenas fermentum ante lobortis nisi tincidunt eleifend. Aliquam erat volutpat. 
                            Fusce tortor nulla, scelerisque eget mi in, congue malesuada sem. 
                            Aenean quis nunc mollis, porttitor augue in, dignissim felis. Vestibulum vitae elit feugiat, porttitor felis quis, porttitor risus. 
                            Duis arcu ipsum, placerat nec turpis sed, finibus imperdiet neque. 
                            Nam vulputate vel libero sit amet interdum. Donec consequat nisi dui, non tincidunt ipsum vestibulum et.<br><br>
                            Maecenas ultrices sapien eget sem bibendum finibus ac nec est. 
                            Donec facilisis erat diam, in sollicitudin libero pretium in. Suspendisse dapibus vestibulum tincidunt. Duis consequat aliquam metus eu faucibus. 
                            Duis tempus urna sit amet dui sodales commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Nam lacus nunc, porta ac enim quis, vestibulum elementum nulla.<br><br>
                            Maecenas ultrices sapien eget sem bibendum finibus ac nec est. 
                            Donec facilisis erat diam, in sollicitudin libero pretium in. Suspendisse dapibus vestibulum tincidunt. Duis consequat aliquam metus eu faucibus. 
                            Duis tempus urna sit amet dui sodales commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Nam lacus nunc, porta ac enim quis, vestibulum elementum nulla.Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Nam lacus nunc, porta ac enim quis, vestibulum elementum nulla.</p>
                            <div class="about-button">
                                <button mat-raised-button color="primary" routerLink="/apply">apply to exhibit</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-image" [ngStyle]="giefImages('assets/img/person1.jpg')">
                                <div class="image-black-box">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="image-name">white rose</div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="image-category"><span>flowy dresses</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="about-image" [ngStyle]="giefImages('assets/img/person2.jpg')">
                                <div class="sp-box">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="sp">SPONSORED</div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="sp-name"><span>Jane Doe Media</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-gallery">
        <div class="container">
            <div class="home-gallery-inner" *ngIf="images_loaded">
                <h1>gallery</h1>
                <br><hr class="style-one">
                <div class="gallery-images">
                    <div class="row">
                        <div class="col-md-4 col-sm-6" *ngFor="let image of image_thumbs">
                            <a (click)="imageClicked(image.id)"><div class="image-block" [ngStyle]="giefImages(image.url)">
                                <div *ngIf="image.sponsored" class="sp-box">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="sp">SPONSORED</div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="sp-name"><span>{{image.sponsored.name}}</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="!image.sponsored" class="image-black-box">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="image-name">{{image.title}}</div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="image-category"><span>{{image.category}}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div></a>
                        </div>
                    </div>
                </div>
                <ngx-image-gallery 
                    [images]="images"
                    [conf]="conf"
                ></ngx-image-gallery>
                <div class="gallery-view-more">
                    <button mat-raised-button color="primary" routerLink="/gallery">view more</button>
                </div>
            </div>
            
        </div>
    </div>
</div>
