<div class="animated fadeIn">
    <!-- <div class="jumbotron">
        <div class="container">
            <h1>Home Page</h1>
            <p>Your site content will go here.</p>
            <button mat-raised-button color="primary">This is a material button</button>
        </div>
    </div> -->
    <app-win-a-wedding></app-win-a-wedding>
    <app-upcoming-expos></app-upcoming-expos>
    <div class="about-us">
        <div class="container">
            <div class="about-inner">
                <h1>about us</h1>
                <br><hr class="style-one">
                <div class="about-lower">
                    <div class="row">
                        <div class="col-md-6">
                            <p>The sole purpose of The Wedding Expo  is to showcase Africa’s finest wedding suppliers to thousands of
                                planning couples across 4 expos every year.<br><br>
                                Together with Wedding Inspirations Magazine, we are part of an organization, The Wedding Group. This
                                gives rise to the most uniquely positioned platform in Africa that delivers significant value to all
                                participants in the wedding industry in Africa.<br><br>
                                Passionate about local businesses and providing the platform to grow them,  we believe in extending our
                                value chain so they too become a beneficiary of our networks.<br><br>
                                As wedding industry front runners, with 17 years of experience, The Wedding Expo is still going strong!
                                Consistently striving for more, we are comitted to ensuring our events, which are the biggest in SA, are also
                                the best!<br><br>
                                Our team is made up of a group of diverse, power-house women who are as passionate about the wedding
                                industry as any newly engaged couple!</p>
                            <div class="about-button">
                                <button mat-button color="primary" routerLink="/apply">apply to exhibit</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-image" [ngStyle]="giefImages('assets/img/about1.jpg')">
                                <!-- <div class="image-black-box">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="image-name">white rose</div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="image-category"><span>flowy dresses</span></div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <a href="mailto:info@wedding-expo.co.za"><div class="about-image" [ngStyle]="giefImages('assets/img/contact.jpg')">
                            </div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-gallery">
        <div class="container">
            <div class="home-gallery-inner" *ngIf="images_loaded">
                <h1>gallery</h1>
                <br><hr class="style-one">
                <div class="gallery-images">
                    <div class="row">
                        <div class="col-md-4 col-sm-6" *ngFor="let image of image_thumbs">
                            <a (click)="imageClicked(image.id)"><div class="image-block" [ngStyle]="giefImages(image.url)">
                                <div *ngIf="image.sponsored" class="sp-box">
                                    <div class="row">
                                        <div class="col-xs-5">
                                            <div class="sp">SPONSORED</div>
                                        </div>
                                        <div class="col-xs-7">
                                            <div class="sp-name"><span>{{image.sponsored.name}}</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="!image.sponsored" class="sp-box">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="image-name">{{image.title}}</div>
                                        </div>
                                        <!-- <div class="col-xs-6">
                                            <div class="image-category"><span>{{image.category}}</span></div>
                                        </div> -->
                                    </div>
                                </div>
                            </div></a>
                        </div>
                    </div>
                </div>
                <ngx-image-gallery 
                    [images]="images"
                    [conf]="conf"
                ></ngx-image-gallery>
                <div class="gallery-view-more">
                    <button mat-raised-button color="primary" routerLink="/gallery">view more</button>
                </div>
            </div>
            
        </div>
    </div>
</div>
