<a class="privacy" href="assets/docs/Privacy-Policy-TWE.pdf" target="_blank">
  <div class="pre-footer">
    Privacy Policy
  </div>
</a>
<div class="footer">
  <div class="footer-inner">
    <div style="float: left; padding-top: 15px; padding-bottom: 15px;">
      <span>A division of The Wedding Group. Copyright &copy; {{this_year}} The Wedding Expo</span>
    </div>
    <div style="float: right;">
      <div class="social-icons">
          <a href="https://za.pinterest.com/theweddingexpo/" target="_blank"><div class="s-i"><i class="fa fa-pinterest"></i></div></a>&nbsp;
          <a href="https://www.facebook.com/TheWeddingExpoSA/" target="_blank"><div class="s-i"><i class="fa fa-facebook"></i></div></a>&nbsp;
          <a href="https://twitter.com/weddingexposa" target="_blank"><div class="s-i"><i class="fa fa-twitter"></i></div></a>&nbsp;
          <a href="https://www.instagram.com/The_Wedding_Expo/" target="_blank"><div class="s-i"><i class="fa fa-instagram"></i></div></a>
        <!-- <button mat-icon-button><i class="fa fa-facebook"></i></button>&nbsp;
        <button mat-icon-button><i class="fa fa-twitter"></i></button>&nbsp;
        <button mat-icon-button><i class="fa fa-instagram"></i></button> -->
      </div>
    </div>
  </div>
  <div class="footer-alt">
    <p>A division of The Wedding Group. Copyright &copy; {{this_year}} The Wedding Expo</p>
    <div class="social-icons">
      <a href="https://za.pinterest.com/theweddingexpo/" target="_blank"><div class="s-i"><i class="fa fa-pinterest"></i></div></a>&nbsp;
      <a href="https://www.facebook.com/TheWeddingExpoSA/" target="_blank"><div class="s-i"><i class="fa fa-facebook"></i></div></a>&nbsp;
      <a href="https://twitter.com/weddingexposa" target="_blank"><div class="s-i"><i class="fa fa-twitter"></i></div></a>&nbsp;
      <a href="https://www.instagram.com/The_Wedding_Expo/" target="_blank"><div class="s-i"><i class="fa fa-instagram"></i></div></a>
    </div>
  </div>
</div>