.footer {
    background-color: #e2b3b7;
    color: #fefcfc;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-inner {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1600px;
    height: 40px;
    margin: 0 auto;
    font-size: 15px;
}

.social-icons {
    a{
        color: #fefcfc !important;
        text-decoration: none !important;
    }
    .s-i {
        cursor: pointer;
        display: inline-block;
        width: 42px;
        height: 42px;
        line-height: 17px;
        padding: 10px;
        text-align: center;
        min-width: 0;
        border-radius: 50%;
        border: 2px solid #fefcfc;
    }
    .mat-icon-button{
        width: 42px;
        height: 42px;
        line-height: 17px;
        i {
            font-size: 18px;
            color: #fefcfc;
        }
    }
}
.footer-alt { 
    display: none;
    padding: 5px;
    text-align: center;
    p {
        padding-bottom: 15px;
    }
}   

@media (max-width:870px) { /* small size */
    .footer-alt {
        display: block;
    }

    .footer-inner {
        display: none;
    }
}