<div class="foot">
    <a class="privacy" href="assets/docs/Privacy-Policy-TWE.pdf" target="_blank">
      <div class="pre-footer">
        Privacy Policy
      </div>
    </a>
    <div class="footer" id="footer">
        <div class="subscribe-outer">
            <div class="subscribe-inner container">
                <h2>get the inside scoop</h2>
                <h4>get notified by email when something changes</h4><br>
                <form>
                    <div class="row checkboxes-outer">
                    <p>who are you?</p>
                    <mat-radio-group [(ngModel)]="subType" name="st">

                        <!-- <div class="col-sm-4"> -->
                            <mat-radio-button [value]="s.id" *ngFor="let s of subTypes" class="cb-inner" color="primary">
                                {{s.value}}
                            </mat-radio-button>
                        <!-- </div> -->
                    </mat-radio-group></div>
                    <div class="row">
                    <!-- <mat-form-field class="full-width"> -->
                        <input class="white-input" placeholder="your email address" value="" [(ngModel)]="email" name="email">
                    <!-- </mat-form-field> -->
                    </div>
                    <div class="row">
                        <div style="padding: 40px 10px 30px 10px; text-align: center;">
                            <button mat-raised-button color="primary" [disabled]="sending" (click)="subscribe()">
                                <span *ngIf="sending"><i class="fa fa-circle-o-notch fa-spin "></i></span> sign me up
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      <div class="footer-inner">
        <div style="float: left; padding-top: 15px; padding-bottom: 15px;">
          <span>A division of The Wedding Group. Copyright &copy; {{this_year}} The Wedding Expo</span>
        </div>
        <div style="float: right;">
          <div class="social-icons">
              <a href="https://za.pinterest.com/theweddingexpo/" target="_blank"><div class="s-i"><i class="fa fa-pinterest"></i></div></a>&nbsp;
              <a href="https://www.facebook.com/TheWeddingExpoSA/" target="_blank"><div class="s-i"><i class="fa fa-facebook"></i></div></a>&nbsp;
              <a href="https://twitter.com/weddingexposa" target="_blank"><div class="s-i"><i class="fa fa-twitter"></i></div></a>&nbsp;
              <a href="https://www.instagram.com/The_Wedding_Expo/" target="_blank"><div class="s-i"><i class="fa fa-instagram"></i></div></a>
            <!-- <button mat-icon-button><i class="fa fa-facebook"></i></button>&nbsp;
            <button mat-icon-button><i class="fa fa-twitter"></i></button>&nbsp;
            <button mat-icon-button><i class="fa fa-instagram"></i></button> -->
          </div>
        </div>
      </div>
      <div class="footer-alt">
        <p>A division of The Wedding Group. Copyright &copy; {{this_year}} The Wedding Expo</p>
        <div class="social-icons">
          <a href="https://za.pinterest.com/theweddingexpo/" target="_blank"><div class="s-i"><i class="fa fa-pinterest"></i></div></a>&nbsp;
          <a href="https://www.facebook.com/TheWeddingExpoSA/" target="_blank"><div class="s-i"><i class="fa fa-facebook"></i></div></a>&nbsp;
          <a href="https://twitter.com/weddingexposa" target="_blank"><div class="s-i"><i class="fa fa-twitter"></i></div></a>&nbsp;
          <a href="https://www.instagram.com/The_Wedding_Expo/" target="_blank"><div class="s-i"><i class="fa fa-instagram"></i></div></a>
        </div>
      </div>
    </div>

</div>
