<div class="footer">
  <div class="footer-inner">
    <div style="float: left; padding-top: 15px; padding-bottom: 15px;">
      <span>Copyright &copy; {{this_year}} The Wedding Expo</span>
    </div>
    <div style="float: right;">
      <div class="social-icons">
          <a><div class="s-i"><i class="fa fa-facebook"></i></div></a>&nbsp;
          <a><div class="s-i"><i class="fa fa-twitter"></i></div></a>&nbsp;
          <a><div class="s-i"><i class="fa fa-instagram"></i></div></a>
        <!-- <button mat-icon-button><i class="fa fa-facebook"></i></button>&nbsp;
        <button mat-icon-button><i class="fa fa-twitter"></i></button>&nbsp;
        <button mat-icon-button><i class="fa fa-instagram"></i></button> -->
      </div>
    </div>
  </div>
  <div class="footer-alt">
    <p>Copyright &copy; {{this_year}} The Wedding Expo</p>
    <div class="social-icons">
      <a><div class="s-i"><i class="fa fa-facebook"></i></div></a>&nbsp;
      <a><div class="s-i"><i class="fa fa-twitter"></i></div></a>&nbsp;
      <a><div class="s-i"><i class="fa fa-instagram"></i></div></a>
    </div>
  </div>
</div>