<div class="animated fadeIn">
  <!-- <div class="win-banner">
    <div class="win-banner-outer">
      <div class="container">
          <div class="win-banner-inner">
            <img src="../assets/img/twe.png">
            <div class="win-text">
              <h1>win a wedding</h1>
            </div>
          </div>
        </div>
    </div>
  </div> -->
  <app-win-a-wedding></app-win-a-wedding>
  <div class="sponsors">
    <div class="container">
      <h1>sponsors</h1>
      <br><hr class="style-one">
      <div class="sponsors-inner">
        <div class="row">
          <div class="col-md-4 col-xs-12" *ngFor="let sponsor of sponsors">
              <a href="{{sponsor.url}}" target="_blank"><div class="image-block" [ngStyle]="giefImages(sponsor.image)">
                  <div *ngIf="sponsor.title">
                      <div class="sp-box">
                          <div class="row">
                              <div class="col-xs-12">
                                  <div class="image-name">{{sponsor.title}}</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="what-win">
    <div class="container">
        <div class="what-win-inner">
          <h1>how to win</h1>
          <br><hr class="style-one">
          <div class="ww-text">
            <p>The Win a Wedding is the ultimate prize and all you have to do to win is enter at the show.  Watch this space for all the details.</p>
          </div>
          <div class="exhibitor-details" *ngFor="let exhibitor of exhibitors">
            <img src="{{exhibitor.image}}">
            <div class="inner-text">
              <h4>{{exhibitor.name}}</h4>
              <p>{{exhibitor.text}}</p>
            </div>
            <div class="ex-button">
              <a target="_blank" href="{{exhibitor.url}}"><button mat-button color="primary">visit website</button></a>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="winners">
    <div class="container">
      <h1>T's &amp; C's</h1>
      <br><hr class="style-one">
      <br><br><br>
      <!-- <div class="pink-scrawl">
        watch this space!
      </div> -->
      <div class="terms">
            <p style="text-align: left"><b>Win a Wedding.</b></p>
            <div  style="text-align: left; color: #6d6d6d">
                <p>Terms and conditions</p>
                <div class="row">
                    <div class="col-xs-1">1.</div><div class="col-xs-11">Each prize is subject to the standard terms and conditions of each participating sponsor.</div>
                    <div class="col-xs-1">2.</div><div class="col-xs-11">Prizes are not transferable or redeemable for cash.</div>
                    <div class="col-xs-1">3.</div><div class="col-xs-11">Only formally engaged couples who are able to redeem their prize before the expiry
                    date are eligible to enter.</div>
                    <div class="col-xs-1">4.</div><div class="col-xs-11">The judges’ decision is final and no correspondence will be entered into regarding this
                    competition.</div>
                    <div class="col-xs-1">5.</div><div class="col-xs-11">Receipt of entries will not be acknowledged.</div>
                    <div class="col-xs-1">6.</div><div class="col-xs-11">The entrant accepts that entry to the competition does not constitute a contract or any
                    form of legal commitment between the entrant and the participating sponsors.</div>
                    <div class="col-xs-1">7.</div><div class="col-xs-11">If the winner is unable to take up a portion of the prize for any reason it becomes forfeit.</div>
                    <div class="col-xs-1">8.</div><div class="col-xs-11">Should a sponsor for whatever reason cease business operations, the prize winner will
                    have no claim on The Wedding Expo and other sponsors and the affected portion of the
                    prize shall be forfeit.</div>
                    <div class="col-xs-1">9.</div><div class="col-xs-11">The prizes do not include deliveries. Winners need to visit individual sponsors to claim
                    their prize.</div>
                    <div class="col-xs-1">10.</div><div class="col-xs-11">Securing of dates with sponsors is subject to their availability and a suitable date will
                    need to be coordinated by the winner. NOTE: the prize winner may need to be flexible
                    on dates due to possible previous engagements of the sponsors.</div>
                    <div class="col-xs-1">11.</div><div class="col-xs-11">Any services provided by a sponsor over and above the sponsored prize value will incur
                    costs which will be for the winners account and no discounts are applicable.</div>
                    <div class="col-xs-1">12.</div><div class="col-xs-11">Employees of the sponsors and their agents or any company associated with the
                    competition and their immediate families are not eligible to enter.</div>
                    <div class="col-xs-1">13.</div><div class="col-xs-11">The participating sponsors shall not assume liability for any ambiguity, error, oversight
                    or omission whether negligent or otherwise which may be committed by any employee
                    of the participating newspaper and sponsors, their agents or associates in respect of this
                    competition.</div>
                    <div class="col-xs-1">14.</div><div class="col-xs-11">The winners are required to get married in order to redeem all prizes. Should the
                    winners not get married, all prizes received are required to be returned to the sponsors.</div>
                    <div class="col-xs-1">15.</div><div class="col-xs-11">Any prizes not required for the actual wedding day such as cash, furniture, etc. will only
                    be made available to the winner after the wedding day and subject to proof of the
                    marriage.</div>
                    <div class="col-xs-1">16.</div><div class="col-xs-11">Prize winners must agree to allow their wedding to be published and used by sponsors
                    in their portfolios.</div>
                    <div class="col-xs-1">17.</div><div class="col-xs-11">Each sponsor has their own specific terms and conditions that will apply, this will be
                    communicated to the winner.</div>

                </div>
            </div>
            <div style="padding: 90px 10px 0px 10px; text-align: center;">
                <a href="assets/docs/terms-win.pdf" target="_blank"><button mat-raised-button color="primary">download pdf</button></a>
            </div>
      </div>
    </div>
  </div>

  <!-- <div class="winners">
    <div class="container">
      <h1>past winners</h1>
      <br><hr class="style-one">
      <div class="winners-inner">
        <div class="row">
          <div class="col-xs-4" *ngFor="let winner of past_winners">
            <a (click)="selectedWinner = winner"><img src="{{winner.image}}" class="winner-image"></a>
          </div>
        </div>
      </div>
      <div class="selected-winner">
        <div class="winner-text">
          <p>{{selectedWinner.text}}</p>
        </div>
        <div class="t-circle-container">
          <div class="t-circle-outer">
              <div class="t-circle" [ngStyle]="getBg(selectedWinner.image)">
              </div>
          </div>
        </div>
        <h4>{{selectedWinner.names}}</h4>
        <h6>{{selectedWinner.when}}</h6>
      </div>
    </div>
  </div> -->
</div>
