.win-banner {
    min-height: calc(100vh - 120px);
    background-color: #333333;
    background: url('./../../../assets/img/bg1.jpg') no-repeat center 20% fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.win-banner-outer {
    min-height: calc(100vh - 120px);
    background-color: rgba(0, 0, 0, 0.3);
}

.win-banner-inner {
    text-align: center;
    padding-top: 140px;
    max-width: 800px;
    margin: 0 auto;

    h1 {
        color: white;
        letter-spacing: 4px;
    }
    img {
        width: 70%;
        // max-width: 350px;
        height: auto;
        margin: 0 auto;
    }
}

.win-text {
    padding-top: 60px;
}

.win-button {
    padding-top: 100px;
    padding-bottom: 60px;
}

.sponsors {
    background-color: white;
    // background-color: #2d2d2d; //:( :(
    padding-top: 80px;
    padding-bottom: 140px;
    color: black;
    text-align: center;
}

.sponsors-inner {
    padding-top: 60px;
    // padding-left: 50px;
    // padding-right: 0px;
}

.sponsor-image {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin-bottom: 60px;
    cursor: pointer;
    transition: transform 0.3s ease-out;
    &:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-in;
    }
}

.what-win {
    background-color: #e0aeb2;
    // background-color: #2d2d2d; //:( :(
    padding-top: 100px;
    padding-bottom: 120px;
    color: white;
    text-align: center;
}

.what-win-inner {
    padding-top: 40px;
    // padding-left: 50px;
    // padding-right: 0px;
    max-width: 1400px;
    margin: 0 auto;
}

.ww-text {
    padding-top: 20px;
    font-size: 16px;
    color: white;
    max-width: 700px;
    margin: 0 auto;
}

.exhibitor-details {
    padding: 40px 10px 60px 10px;
    max-width: 600px;
    margin: 0 auto;

    img {
        width: 500px;
        height: auto;
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

    .inner-text {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        p{
            font-size: 16px;
            color: white;
        }

    }

    .mat-button {
        background-color: transparent;
        border: 1px solid white;
        color: white;
    }
}

.winners {
    background-color: white;
    // background-color: #2d2d2d; //:( :(
    padding-top: 80px;
    padding-bottom: 140px;
    color: black;
    text-align: center;
}

.winners-inner {
    padding-top: 40px;
    // padding-left: 50px;
    // padding-right: 0px;
    max-width: 1400px;
    margin: 0 auto;
}

.winner-image {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: transform 0.3s ease-out;
    &:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-in;
    }
}

.selected-winner {
    text-align: center;
    padding: 80px 0px 40px 0px;

    h4 {
        padding-top: 5px;
        font-size: 18px;
        text-transform: uppercase;
    }

    h6 {
        text-transform: lowercase;
        font-size: 14px;
    }
}
  
.winner-text {
   font-size: 16px;
   margin-bottom: 15px;
   background-color: rgb(214, 214, 214);
   padding: 60px 35px 60px 35px;
   max-width: 600px;
   margin: 0 auto;
   border-radius: 3px;
}

.t-circle-container{
    padding-top: 20px;
}

.t-circle-outer {
    margin: 0 auto;
    padding: 7px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(214, 214, 214);
}

.t-circle {
    background-color: rgb(77, 77, 77);
    width: 66px;
    height: 66px;
    border-radius: 50%;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
}

@media (max-width:875px) { /* small size */
    .win-banner, .win-banner-outer  {
        min-height: calc(100vh - 80px);
    }
    .win-button {
        padding-top: 50px;
    }
}