<div class="animated fadeIn">
  <!-- <div class="win-banner">
    <div class="win-banner-outer">
      <div class="container">
          <div class="win-banner-inner">
            <img src="../assets/img/twe.png">
            <div class="win-text">
              <h1>win a wedding</h1>
            </div>
          </div>  
        </div>  
    </div>
  </div> -->
  <app-win-a-wedding></app-win-a-wedding>
  <div class="sponsors">
    <div class="container">
      <h1>sponsors</h1>
      <br><hr class="style-one">
      <div class="sponsors-inner">
        <div class="row">
          <div class="col-md-4 col-xs-12" *ngFor="let sponsor of sponsors">
              <a href="{{sponsor.url}}" target="_blank"><div class="image-block" [ngStyle]="giefImages(sponsor.image)">
                  <div *ngIf="sponsor.title">
                      <div class="sp-box">
                          <div class="row">
                              <div class="col-xs-12">
                                  <div class="image-name">{{sponsor.title}}</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="what-win">
    <div class="container">
        <div class="what-win-inner">
          <h1>how to win</h1>
          <br><hr class="style-one">
          <div class="ww-text">
            <p>The Win a Wedding is the ultimate prize and all you have to do to win is enter at the show.  Watch this space for all the details.</p>
          </div>
          <div class="exhibitor-details" *ngFor="let exhibitor of exhibitors">
            <img src="{{exhibitor.image}}">
            <div class="inner-text">
              <h4>{{exhibitor.name}}</h4>
              <p>{{exhibitor.text}}</p>
            </div>
            <div class="ex-button">
              <a target="_blank" href="{{exhibitor.url}}"><button mat-button color="primary">visit website</button></a>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="winners">
    <div class="container">
      <h1>T's &amp; C's</h1>
      <br><hr class="style-one">
      <br><br><br>
      <div class="pink-scrawl">
        watch this space!
      </div>
    </div>
  </div>

  <!-- <div class="winners">
    <div class="container">
      <h1>past winners</h1>
      <br><hr class="style-one">
      <div class="winners-inner">
        <div class="row">
          <div class="col-xs-4" *ngFor="let winner of past_winners">
            <a (click)="selectedWinner = winner"><img src="{{winner.image}}" class="winner-image"></a>
          </div>
        </div>
      </div>
      <div class="selected-winner">
        <div class="winner-text">
          <p>{{selectedWinner.text}}</p>
        </div>
        <div class="t-circle-container">
          <div class="t-circle-outer">
              <div class="t-circle" [ngStyle]="getBg(selectedWinner.image)">
              </div>
          </div>
        </div>
        <h4>{{selectedWinner.names}}</h4>
        <h6>{{selectedWinner.when}}</h6>
      </div>
    </div>
  </div> -->
</div>