

.exhibitors {

        background-color: #e0aeb2;
        padding-top: 100px;
        padding-bottom: 160px;
        h1 {color: white;}
        text-align: center;

}

.loading {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;

    .mat-spinner {
        margin: 0 auto;
    }
}

.inline-clear {
    display: inline-block;
}

.exhib-container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.rounded-shell {
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;
}

.top-half {
    text-align: center;
    position: relative;
    display: block;
    background: #fff;
    border: none;
    background-origin: border-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 70px;
}

.vendor-image {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
    width:100%;
    height: auto;
}

.bottom-half {
    text-align: center;
    padding: 15px 5px 15px 5px;
    min-height: 30px;
}

.search-box {
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 80%;
    max-width: 300px;
}

.search-box:focus, input:focus{
    outline: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.vendor-category {
    span {
        text-transform: capitalize;
    }
}


.left-half {
    padding: 0 !important;
}

.right-half {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: left !important;
}


.vendor-heading {
    font-size: 22px;
    padding-bottom: 10px;
    width: 100%;
}

.vendor-category {
    font-size: 16px;
    padding-bottom: 10px;
    width: 100%;
    text-transform: capitalize;
}

.vendor-url {
    color: #FE1D78 !important;
}

.bottom-footer {

    width: 100%;
}

ul {
    height: 100%;
    margin-top: 10px;
}

li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-self: center;    <---- REMOVE */
    align-items: left;   /* <---- NEW    */
    width: 100%;
    height: 25%;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand.
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
@media (max-width: 767px) {
    .right-half {
        padding-top: 20px;
        padding-bottom: 30px;
        text-align: center !important;
    }
    .vendor-heading {
        font-size: 20px;
        padding-bottom: 10px;
    }

    .vendor-category {
        font-size: 14px;
        padding-bottom: 10px;
    }

    .expo-location {
        font-size: 12px;
    }
}
