

.exhibitors {

        background-color: #e0aeb2;
        padding-top: 100px;
        padding-bottom: 160px;
        h1 {color: white;}
        text-align: center;

}

.loading {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;

    .mat-spinner {
        margin: 0 auto;
    }
}
