<div class="animated fadeIn">

    <app-win-a-wedding></app-win-a-wedding>
    <div class="faq-container">
      <div class="container">
        <div class="faq-inner">
          <h1>why visit</h1>
          <br><hr class="style-one">
          <img src="assets/img/ig/1.jpg" style="width: 100%; height: auto;">
          <!-- <div class="faq-lower">
            <div class="row faq-row" *ngFor="let q of questions">
              <div class="col-sm-1 pink">{{q.title}}</div>
              <div class="col-sm-11"><b>{{q.question}}</b><br>{{q.answer}}</div>
            </div>
          </div> -->
          <div class="faq-bottom">
              <button mat-raised-button color="primary" routerLink="/show">at the show</button>
          </div>
        </div>
      </div>
    </div>
    <app-upcoming-expos></app-upcoming-expos>
    <div class="exhibitors">
      <div class="container-fluid">
        <h1>exhibitors</h1>
        <br><hr class="style-one">
        <br><br><br>
        <!-- <div class="pink-scrawl">
          watch this space!
        </div> -->
        <div class="container" style="padding-top: 30px;">
            <!-- <div class="card-lg animated fadeIn" *ngIf="!loading">
              <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
                <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
                  <span class="md-title">Our Exhibitors</span>
                </span>
                <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
                  <span *ngIf="(selectable && !selectedRows.length) || !selectable" class="md-title"></span>
                  <span *ngIf="selectedRows.length && selectable" class="md-body-1">{{selectedRows.length}} item(s) selected</span>
                </span>
                <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm hideOnSmall" placeholder="Search here" (searchDebounce)="search($event)" flex>
                </td-search-box>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="refresh()">
                    <mat-icon>autorenew</mat-icon>
                    <span>Refresh</span>
                  </button>
                </mat-menu>
              </div>
              <hr>
              <div><td-data-table
                #dataTable
                [data]="filteredData"
                [columns]="columns"
                [selectable]="selectable"
                [clickable]="clickable"
                [multiple]="multiple"
                [sortable]="true"
                [sortBy]="sortBy"
                [(ngModel)]="selectedRows"
                [sortOrder]="sortOrder"
                (sortChange)="sort($event)">
              </td-data-table></div>
              <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
                <h3>No results to display.</h3>
              </div>
              <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
                <span hide-xs>Rows per page:</span>
                <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
                  <mat-option *ngFor="let size of [5,10,15,20]" [value]="size">
                    {{size}}
                  </mat-option>
                </mat-select>
                {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
              </td-paging-bar>
            </div> -->


            <div class="animated fadeIn" *ngIf="!loading">
                <div class="search-top">
                    <input class="search-box" placeholder="search" [(ngModel)]="search_text" name="st" (ngModelChange)="filterVendors($event)">
                    <div *ngIf="clear_button" class="inline-clear">
                        <button mat-icon-button color="primary" (click)="resetFully()">
                            <mat-icon aria-label="clear">clear</mat-icon>
                        </button>
                    </div>
                </div>

                <div *ngIf="(!!search_text && search_text.length > 0) || selectedExpo" style="margin: 30px 0 30px 0">
                    <mat-form-field *ngIf="categories && displayVendors ? displayVendors.length > 0 : false">
                        <mat-select placeholder="category" [(ngModel)]="selectedCat" name="catsel" (change)="changeValue($event)">
                            <mat-option>All</mat-option>
                            <mat-option *ngFor="let cat of categories" [value]="cat">
                            {{ cat }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="container" style="padding-top: 30px;">
            <div class="animated fadeIn" *ngIf="!loading">
                <div class="exhib-container">

                    <div *ngIf="(!!search_text && search_text.length > 0) || selectedExpo">
                        <div class="vendor-item" *ngFor="let vendor of displayVendors" >

                                <div class="rounded-shell row is-flex">
                                    <div class="col-lg-3 col-sm-5 left-half">
                                        <!--[style.background-image]="'url(' + vendor.image_landscape + ')'"-->
                                        <!--style="background-image: url('{{vendor.image_landscape || 'assets/images/placeholder.png'}})"-->
                                        <div class="image-container">
                                            <img [src]="vendor.image_landscape + '?q=85&w=800' || 'assets/images/placeholder.png'" alt="" class="vendor-image">
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-sm-7 right-half">
                                        <ul class="rh-inner">

                                            <li class="vendor-heading">
                                                <b>{{vendor.name_english}}</b>
                                            </li>
                                            <li class="vendor-category" *ngIf="vendor.category">
                                                {{vendor.category}}
                                            </li>
                                            <li class="expo-location">
                                                {{vendor.expo_name}}
                                            </li>
                                            <li class="vendor-link">
                                                <a class="vendor-url" href="{{vendor.url_website}}">{{vendor.url_website}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            <!-- <div class='card-lg'>
                                <h2 class="expo-list-name">{{vendor.name_english}}</h2>

                                <div class="vendor-category" *ngIf="vendor.category">
                                    <span *ngFor="let c of vendor.category; let last = last">
                                        {{c}}<span *ngIf="!last">, </span>
                                    </span>
                                </div>
                            </div> -->
                        </div>
                        <div *ngIf="displayVendors ? displayVendors.length <= 0 : true" class="row">
                                No Exhibitors at this expo yet!
                        </div>
                    </div>

                    <div *ngIf="(search_text === undefined || search_text === null
                    || search_text === '') && !selectedExpo">

                        <div *ngIf="!!expos" class="animated bounceInUp">
                            <div class="exhibitor-list-filtered">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3" *ngFor="let expo of filteredExpos" (click)="filterByExpo(expo)">

                                        <div class="rounded-shell">
                                            <div class='top-half'>

                                                <div class="image-container">
                                                    <img [src]="expo.url_logo + '?q=85&w=1200' || 'assets/images/placeholder.png'" alt="" class="vendor-image">
                                                </div>
                                            </div>
                                            <div class='bottom-half'>
                                                <h2 class="expo-list-name">{{expo.name_english}}</h2>
                                                <p class="expo-list-date">{{expo.location_name}}</p>
                                                <p class="expo-list-date">{{showDate(expo.date_start)}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <!-- <div>
              <button mat-raised-button color="primary" (click)="deleteVendor()">Delete</button>
            </div> -->
          </div>
          <div class="loading" *ngIf="loading">
            <mat-spinner></mat-spinner>
          </div>


      </div>
    </div>
    <!-- <div class="exhibitors">
      <h1>exhibitors</h1>
      <div style="height: 500px"></div>
    </div> -->
</div>
