<div class="animated fadeIn">

    <app-win-a-wedding></app-win-a-wedding>
    <div class="faq-container">
      <div class="container">
        <div class="faq-inner">
          <h1>why visit</h1>
          <br><hr class="style-one">
          <img src="assets/img/ig/1.jpg" style="width: 100%; height: auto;">
          <!-- <div class="faq-lower">
            <div class="row faq-row" *ngFor="let q of questions">
              <div class="col-sm-1 pink">{{q.title}}</div>
              <div class="col-sm-11"><b>{{q.question}}</b><br>{{q.answer}}</div>
            </div>
          </div> -->
          <div class="faq-bottom">
              <button mat-raised-button color="primary" routerLink="/show">at the show</button>
          </div>
        </div>
      </div>
    </div>
    <app-upcoming-expos></app-upcoming-expos>
    <div class="exhibitors">
      <div class="container">
        <h1>exhibitors</h1>
        <br><hr class="style-one">
        <br><br><br>
        <div class="pink-scrawl">
          watch this space!
        </div>
      </div>
    </div>
    <!-- <div class="exhibitors">
      <h1>exhibitors</h1>
      <div style="height: 500px"></div>
    </div> -->
</div>